<?xml version="1.0"?>
<!-- 
/**
 * Kowal
 * Copyright (C) 2019 Kowal <kontakt@kowal.co>
 *
 * @category Kowal
 * @package Kowal_Base
 * @copyright Copyright (c) 2019 Mage Delight (https://kowal.store/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Kowal <kontakt@kowal.co>
 */ 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" title="Admin">
                <resource id="Kowal_Base::root" title="Kowal" sortOrder="51">
                    <resource id="Kowal_Base::kowal_modules" title="Modules" sortOrder="10" />
                    <resource id="Kowal_Base::kowal_common" title="Common" sortOrder="500" />
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Kowal_Base::config_root" title="Kowal Configuration" sortOrder="51" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>